<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA5M-3SY7nyp_9MlpNJkmXt4Dj5Zg4NGfE</string>
	<key>GCM_SENDER_ID</key>
	<string>870396347709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vinnovateLabz</string>
	<key>PROJECT_ID</key>
	<string>appikorn-beema</string>
	<key>STORAGE_BUCKET</key>
	<string>appikorn-beema.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870396347709:ios:5b194baa9e480eb42f7154</string>
</dict>
</plist>